body{
    font-family: "Raleway";
    background-color: #dcd6f7
}

.exercice{
  font-family: "Raleway";
  color: #426b69;
  background-color: #222e50;
  display: block;
  width: 100%;
  height: 120px;
  text-align: center;
  margin: auto;
  padding-top: 15px;
}

p{
  font-size: 18px;
}
